/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap'); */

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'LEMON_JELLY';
  src: url('./assets/fonts/LemonJellyPersonalUse-dEqR.ttf');
}

@font-face {
  font-family: 'RAINBOW_BRIDGE';
  src: url('./assets/fonts/RainbowBridgePersonalUse-ERae.ttf');
}

@font-face {
  font-family: 'ROAD_BLAST';
  src: url('./assets/fonts/RoadBlast-6Y41x.ttf');
}

:root {
  --font-default: 'DM Sans', 'Manrope', sans-serif; /*'DM Sans Manrope'*/
  --dark: #040836;
  --dark-translucent: #002f4dfa;
  --dark-secondary: #002f4df1;

  --bg-white-alt: #fdfdfd;
  --bg-white-translucent: #fffffff8;
  --bg-gray: #edf5ff;

  --color-variant-info: #4290d5;
  --color-variant-success: #58af2d;
  --color-variant-warning: #f1a740;
  --color-variant-error: #d93e3e;

  --color-primary: #ff014f;
  --color-primary2: #232323;
  --color-secondary: #00c0ff;
  --color-accent: #992884a3;
  --color-accent-light: #b22c99;
  --color-heading: #202942;
  --color-heading2: #202942cc;
  --color-paragraph: #666666;
  --color-paragraph-dark: #bfbebe;

  --box-shadow-primary: 1px 4px 20px -2px rgba(0, 0, 0, 0.1);
  --box-shadow-secondary: 0 20px 50px rgba(0, 0, 0, 0.1);
  --box-shadow-regular: 0px 2px 12px 0px #e7e7e7;
  --box-shadow-extra: 0 5px 50px 0 rgba(0, 0, 0, 0.15);

  --bg-gradient: linear-gradient(45deg, #ff014f 20%, #992884 50%);
  --nav-height: 65px;
  --nav-height-mobile: 60px;

  --section-container-width: 1100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-manrope font-black text-[var(--color-heading)] dark:text-white leading-snug tracking-normal;
  }
  section {
    @apply py-8 px-6 md:px-8 w-full;
  }

  section.full-screen {
    @apply min-h-screen;
  }

  .section-container {
    @apply max-w-[var(--section-container-width)] mx-auto h-full w-full flex flex-col justify-start items-start py-5;
  }
  .section-title {
    @apply font-black text-2xl text-[var(--color-primary)] dark:text-white uppercase px-1 pb-4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--bg-gradient);
    background-clip: text;
  }

  .section-content {
    @apply w-full grid grid-cols-1 gap-10 justify-start items-start;
  }

  .section-sub-title {
    @apply text-[1.2rem] leading-6 dark:text-white;
  }

  p {
    @apply text-[0.95rem] leading-[1.4rem] xl:text-base  text-[var(--color-paragraph)] 
    dark:text-[var(--color-paragraph-dark)];
  }

  a {
    @apply text-[#232323];
  }

  button:active,
  .nav-link:active {
    @apply scale-90;
  }

  #iti-1__country-listbox {
    @apply rounded mt-[2px] dark:bg-[var(--dark-secondary)] dark:text-white dark:border-[var(--dark)];
    background: rgba(255, 255, 255, 0.95);
  }
  .iti__country {
    @apply w-full;
  }
  .iti__country-name {
    @apply flex flex-wrap;
  }
}

.iti__flag {
  background-image: url('./assets/images/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('./assets/images/flags@2x.png');
  }
}

body {
  font-family: var(--font-default);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  background: #fff;
  color: var(--color-paragraph);
}

.Snackbar {
  animation: slide-up 0.3s ease-in-out forwards;
}

.thumbnail__Overlay {
  animation: overlayFadeOutDown 0.5s ease-in-out forwards;
}

.thumbnail:hover .thumbnail__Overlay {
  animation: overlayFadeInUp 0.5s ease-in-out forwards;
}
